.form {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
   
  }
  
  .form label {
    display: block;
  }
  
  .form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555; 
    background-color: #444;
    color: #fff; 
  }

  .form button {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007BFF; 
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .error-msg {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  